@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.App {
  text-align: center;
  color: white;
  background-color: #000011;
  min-height: 100vh;
}

.brand {
  font-family: "Lato", sans-serif;
}
